* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Century Gothic', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #000; /* black background fallback */
  background-image: url('./components/assets/Leanerrr.avif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #007BFF; /* blue text */
}
